[Unit]

[Service]
Type=oneshot
ExecStartPre=chattr -i /
ExecStart=/bin/sh -c "mkdir -p /var/start/; ln -s /usr/start/youtube /var/start/youtube; ln -s /usr/start/env.sh /env.sh; ln -s /var/start /start;"
ExecStopPost=chattr +i /

[Install]
WantedBy=basic.target
