[Unit]

[Service]
Type=oneshot
ExecStartPre=chattr -i /
ExecStart=/bin/bash /usr/start/bin/bitmediacentre-start.sh
ExecStopPost=chattr +i /

[Install]
WantedBy=basic.target
