[Unit]
After=firewalld.service
ConditionPathExists=!/etc/firewalld/zones/public.xml

[Service]
ExecStart=/bin/bash /usr/start/bin/configure-firewalld.sh

[Install]
WantedBy=multi-user.target

