[Unit]
#https://stackoverflow.com/questions/52170218/apache2-service-failed-to-run-start-task-no-such-file-or-directory
After=systemd-resolved.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/start/bin/generate-machine-id-and-keypair.sh
EnvironmentFile=/env.sh
CPUShares=1500

[Install]
WantedBy=graphical.target
