[Unit]
After=bitmediacentre-start.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/start/bin/generate-machine-id-and-keypair.sh
EnvironmentFile=/env.sh
CPUShares=1500

[Install]
WantedBy=graphical.target
