[Unit]
#After=compositor.service
#Requires=mydbus.socket

[Service]
EnvironmentFile=/env.sh
#Because the original dbus-daemon cant write to /tmp/xdg_runtime_dir:
ExecStartPre=/bin/sh -c '/usr/bin/cp -vf /usr/bin/dbus-daemon /usr/local/bin/my-dbus-daemon && /usr/bin/chcon -u system_u -t bin_t /usr/local/bin/my-dbus-daemon'
ExecStart=/bin/sh -c "/bin/su -m pcuser -c 'exec /usr/local/bin/my-dbus-daemon --session --print-pid=1 --print-address=1 --nofork --address=unix:path=/tmp/xdg_runtime_dir/bus'"
CPUShares=200000
#User=pcuser

[Install]
WantedBy=graphical.target
#Also=mydbus.socket
