[Unit]

[Service]
EnvironmentFile=/env.sh
ExecStart=/usr/bin/dbus-daemon --session --print-pid=1 --print-address=1 --nofork --address=unix:abstract=/tmp/dbus-ZcOrhvdyeA,guid=4236f3efbf061cee0b6776865b8c7190
CPUShares=200000

[Install]
WantedBy=graphical.target
