[Unit]
Description=Transmission BitTorrent Daemon
After=k3s-agent.service

[Service]
User=pcuser
Type=notify
ExecStartPre=/bin/bash -c 'mkdir -p /home/pcuser/.config/transmission-daemon && mkdir -p /home/pcuser/Downloads && cp /etc/mytransmission-daemon/settings.json /home/pcuser/.config/transmission-daemon/ && chmod 400 /home/pcuser/.config/transmission-daemon/settings.json' 
ExecStart=/usr/bin/transmission-daemon -f --log-error --download-dir /home/pcuser --config-dir /home/pcuser/.config/transmission-daemon
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

