[Unit]
After=bitmediacentre-start.service

[Service]
#Otherwise it cannot create /var/start/pulse:
#ExecStartPre=/bin/chcon -t pulseaudio_home_t /var/start
#Note: we disable memfd support here because additional policies would be required due to this AVC denial:
#type=AVC msg=audit(1609365628.244:298): avc:  denied  { read write } for  pid=1491 comm="pulseaudio" path=2F6D656D66643A70756C7365617564696F202864656C6574656429 dev="tmpfs" ino=70699 scontext=system_u:system_r:pulseaudio_t:s0 tcontext=system_u:object_r:tmpfs_t:s0 tclass=file permissive=0
#  (Note that the path info is .b16decode() encoded...)
#  (Note that the denial only accurs when being run from wayland console...)
#TODO: figure out why pulseaudio cant talk to D-Bus (SELinux labeling issue...)
#TODO: figure out why we cant have one or more of these anymore: --disallow-exit --exit-idle-time=-1
ExecStart=/usr/bin/pulseaudio --daemonize=no --log-target=stderr --enable-memfd=false
EnvironmentFile=/env.sh
User=pcuser

[Install]
WantedBy=graphical.target
