[Unit]
After=bitmediacentre-start.service

[Service]
ExecStart=/usr/bin/pulseaudio --disallow-exit --exit-idle-time=-1 --daemonize=no
EnvironmentFile=/env.sh

[Install]
WantedBy=graphical.target
