[Unit]
##https://forums.developer.nvidia.com/t/how-to-set-hdmi-audio-volume-through-alsamixer/107133/3
Description=Your One-Shot Service to boost main pulseaudio sink volume
After=pulseaudio.service
PartOf=YourDependencyUnit

[Service]
Type=simple
ExecStart=/usr/bin/pactl set-sink-volume alsa_output.pci-0000_00_1f.3.hdmi-stereo 150%
EnvironmentFile=/env.sh
User=pcuser

# Retry indefinitely
StartLimitIntervalSec=0
StartLimitBurst=0
# Retry every 5 seconds, with unlimited retries
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target

