[Unit]
After=mydbus.service

[Service]
Type=oneshot
EnvironmentFile=/env.sh
ExecStart=/usr/bin/gnome-terminal --zoom=3.0 --hide-menubar -- /usr/start/mymc
WorkingDirectory=/home/pcuser
