[Unit]
#Note: not sure After= is working properly here...
After=setup-gnome-terminal.service

[Timer]
OnActiveSec=10s
Unit=terminal.service

[Install]
WantedBy=graphical.target
